#buttons {
  display: inline-block;
  width: 100%;
}

#buttons div {
  width: 25%;
  border: 1px solid black;
  height: 72px;
  color: white;
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  float: left;
  overflow: hidden;
}

#buttons div:hover {
  opacity: 0.7;
  color: black;
}

#buttons .wide {
  width: 50%;
}

#buttons #equals {
  height: 144px;
  float: right;
  background: #36648b
}

.number {
  background: #787878;
}

#buttons .operator {
  background: #222;
  font-size: 25px;
}

#clear {
  background: #cd4f39;
}